*{
font-family: sans-serif;:

}
header {
  background-color: black ;
  margin-left: 0;
  max-height: 64px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
}

#menuh{
  float: right;
}

#cgn-header-icon{
  float: left;
  margin-left: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 50px 50px 50px 50px;
}

#menuh-botones{
  list-style-type: none;
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.menuh-botones-item{
 display: inline-block;
 font-size: 16px;
 padding-right: 10px;

}

.link-menu{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  line-height: 64px;

}

.link-menu : hover{
background-color: black;
}


body{
  align-content: center;
  margin: 0;
background-color: lightgrey;
}
.video {
  width:700px;
  display: inline;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0;
  margin: 0S;
}
.videos-container{
  margin:5px;
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
}
footer{
  height:120px;
  background-color: grey;

}
.footer-text {
  height: 700;
 color: white;
 align: center;
 padding-top: 30px;
 padding left: 400px;
}


.noticia-prueba {
  padding-left: 10px;
  padding-top: 10px;
  pading-bottom: 8px;

width:30%;
}

.parrafonp{

}
p{

}
.imagenes{
  display: inline-block;
  overflow: hiden;
  margin: 15px;
  padding: 10px;
width:60%;}
